* {
    margin: 0;
    padding: 0;
}


nav {}

nav div.logo {
    height: 40px;
    width: 20vw;
    padding-right: 10vw;
    background-color: brown;
    float: left;
}

nav ul {
    height: 40px;
    width: 70vw;
    background-color: darkcyan;
    float: left;
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
}

nav a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: arial;
    line-height: 40px;
    transition: 0.1s;
}

nav a:hover {
    font-size: 26px;
}
